<div id="comments">
  <% @comments.each do |comment| %>
    <div class="row comment">
      <%= gravatar_for(User.find_by_id(comment.user_id)) %><%= link_to User.find_by_id(comment.user_id).name, User.find_by_id(comment.user_id) %> <%= comment.content %>
      <br><%= time_ago_in_words(comment.created_at)%> ago.
      <br><%= link_to 'delete', '#' %>
    </div>
    <br>
  <% end %>
</div>
