<div class="row">
<%= form_for [@event, @picture, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div class="error_messages">
      <h4>Please correct the following errors.</h4>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field span9">
    <%= f.hidden_field :user_id %>
    <%= f.text_field :content, placeholder: "Submit a comment" %>
  </div>
  <div class="action span1">
    <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
</div>
