<% if host?(current_event) %>
<% provide(:title, @event.title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      This event has <%= current_event.uploaders.count %> uploaders.
    </section>
  </aside>

<% if host?(current_event) %>

<div class="span8">

<h1>Invite your friends to your event!</h1><br>
<h2>They can upload pictures!</h2><br>

<h3>People already invited:</h3>
<ul class="users">
  <% current_event.invitations.each do |invitation| %>
  <li>
    <%= gravatar_for invitation.uploader, size: 59 %>
    <%= link_to invitation.uploader.name, event_uploader_path(current_event, invitation.uploader) %>
  </li>
  <% end %>
</ul>

<br>

<h3>People not invited:</h3>
<ul class="users">
  <% @users.each do |user| %>
    <% unless current_event.uploader?(user) || current_event.host_id == user.id %>
    <li>
      <%= gravatar_for user, size: 59 %>
      <%= link_to user.name, event_uploader_path(current_event, user) %>
    </li>
    <% end %>
  <% end %>
<% end %>
</ul>
</div>
</div>
<% else %>
Sorry, you do not have access to this page. Please use your browser's back button to go back to the previous page.
<% end %>
