<% if host?(current_event) %>
<% provide(:title, @event.title) %>

      <%= render 'shared/event_navigation' %>

<div class="row span10">

<h1>Invite your friends to <%= current_event.title %>!</h1><br>
<h2>They can upload pictures!</h2><br>

<div class="span5">
  <h3>People invited: (<%= current_event.uploaders.count %>)</h3>
<ul class="users">
  <% @users.each do |user| %>
    <% if current_event.uploader?(user) && current_event.host_id != user.id %>
    <li>
      <%= gravatar_for user, size: 59 %>
      <%= link_to user.name, event_uploader_path(current_event, user) %><br>
      <%= user.email %>
    </li>
    <% end %>
  <% end %>
</ul>
</div>

<div class="span5 offset1">
  <h3>People not invited:</h3>
  <%= will_paginate %>
<ul class="users">
  <% @uploaders.each do |user| %>
    <% unless current_event.uploader?(user) || current_event.host_id == user.id %>
    <li>
      <%= gravatar_for user, size: 59 %>
      <%= link_to user.name, event_uploader_path(current_event, user) %><br>
      <%= user.email %>
    </li>
    <% end %>
  <% end %>


<br><br>
</ul>
</div>
<% else %>
Sorry, you do not have access to this page. Please use your browser's back button to go back to the previous page.
<% end %>


</div>
</div>
</div>
