<% provide(:title, @user.name) %>

      <%= render 'shared/event_navigation' %>

<div class="row span10">
<div class="row">
<div class="span2">

  <h1><%= gravatar_for @user, size: 85 %></h1>

</div>

<div class="span5">

  <h2><%= @user.name %></h2>
  <h3><%= @user.email %></h3>

</div>

<div class="span4">

<% unless current_user?(@user) %>

  <h1><%= render 'uploader_form' if host?(current_event) %></h1>

<% else %>

You cannot invite yourself!

<% end %>

</div>

<br><br>
<br><br>
<br><br>

</div>

<div class="row span10">

  <%= render 'shared/user_events' %>

</div>

</div>
</div>
</div>
