<div class="containter-fluid">
  <div class="row-fluid">
    <div class="span1">
      <div class="dropdown">

        <a href='#' class="dropdown-toggle" data-toggle="dropdown" id="navbarcustomlinks"><button class="btn btn-primary"><b class="caret" id="navbarcustomlinks"></b></button></a>

        <ul class="dropdown-menu">
          <li><a href="<%= event_path(@event) %>">Back to <%= @event.title %><i class="icon-chevron-right"></i></a></li>
          <li class="divider"></li>
          <% if host?(@event) %>
    
            <h5><li><a href="<%= event_uploaders_path(@event) %>">Invite Friends<i class="icon-chevron-right"></i></a></li>
  
          <% end %>

          <% if current_user.reverse_invitations.find_by_event_id(params[:event_id]) || current_user.reverse_invitations.find_by_event_id(params[:id]) || host?(@event) %>

            <li><a href="<%= new_event_picture_path(@event) %>">Upload Pictures<i class="icon-chevron-right"></i></a></li>

          <% end %>

          <li class="divider"></li>

          <li><a href="<%= events_path %>">Other Events<i class="icon-chevron-right"></i></a></li></h5>

        </ul>

      </div>
    </div>
