<%= form_for @picture, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field :event_id %>
    <%= f.hidden_field :user_id %>
  <p>
    <%= f.file_field :image %>
  </p>
  <br>
  <p><%= f.submit %></p>
<% end %>
