<div id="uploader_form">
  <% if current_event.uploader?(@user) %>
    <%= form_for(current_event.invitations.find_by_uploader_id(@user), html: {method: :delete}, remote: true) do |f| %>
      <%= f.submit "Remove Uploader", class: "btn btn-large" %>
    <% end %>
  <% else %>
    <%= form_for(current_event.invitations.build(uploader_id: @user.id)) do |f| %>
      <div><%= f.hidden_field :uploader_id %></div>
      <%= f.submit "Invite", class: "btn btn-large btn-primary" %>
    <% end %>
  <% end %>
  </div>
