<%= provide(:title, @event.title ) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <% if host? %>
        <%= link_to "Invite your friends", uploaders_event_path, class: "btn btn-large btn-primary" %>
      <% end %>
    </section>
    <section>
      Number of attendees in this event: 
      <%= current_event.uploaders.count %>
      <br>Host ID:
      <%= current_event.host_id %>
      <br>Event title: <%= @event.title %>
      <br>Number of pictures in this event:
      <%= @event.pictures.count %>
    </section>
  </aside>
<% if current_user.following_host? %>
<div class="span8">
  <%= link_to 'Upload a new picture', new_picture_path(:event_id => @event) %>
  <% for picture in @event.pictures %>
  a
  <%= image_tag picture.image_url.to_s %>
  <%= picture.event_id %>
  <%= picture.user_id %>
  <% end %>
<% else %>

Sorry <%= current_user.name %>, you do not have permission to view this event.

</div>
<% end %>
</div>
