<%= provide(:title, @event.title ) %>

<%= render 'shared/event_navigation' %>

<div class="span11">
  <% if current_user.reverse_invitations.find_by_event_id(params[:id]) || host?(@event) %>

  <h1><%= @event.title %></h1>
  <h2><%= @event.description %></h2>
  <h3>Hosted by <%= link_to User.find_by_id(@event.host_id).name, User.find_by_id(@event.host_id) %> <%= time_ago_in_words(@event.created_at) %> ago | <%= pluralize(@event.pictures.count, "Picture")%> | <%= pluralize(@event.uploaders.count, "Attendee") %></h3>

  <a href="<%= event_pictures_path(@event) %>"><i class="icon-resize-full icon-black"></i>Slideshow</a>
  <br><br>

  <%= will_paginate %>

  <% @event.pictures.each do |picture| %>
    <span id="thumb"><%= link_to image_tag(picture.image.thumb), event_picture_path(@event, picture) %></span>
  <% end %>

  <% if @event.pictures.count == 0 %>
    There are no pictures in this album.
  <% end %>
  <br><br>
  <%= render 'comments/form' %>
  <%= render 'comments/comments' %>
  <br>
  <% else %>

  Sorry <%= current_user.name %>, you need to be invited to this event to view it.

<% end %>

</div>
</div>
</div>
