<% if signed_in? %>
  <div class="row">
<h3>1337Pic is currently in beta.</h3>
    <div class="hero-unit">
      <h2>Events you have been invited to:</h2><br>
      <ul>
        <%= render current_user.events_attended %>
      </ul>
      <br>
      <h2>Events you have hosted:</h2><br>
      <ul>
        <%= render current_user.events_hosted %>
      </ul>
    </div>  
  </div>

<% else %>

<div class="row">
<h1>Welcome to 1337Pic</h1>

<h2>The free and easy way to create and share entire photo albums with your friends.</h2>

<br>

<div class="span4 hero-unit">
  <h3>New to 1337Pic? Take a minute to sign up.</h3>
  <br>
    <%= form_for(@user) do |f| %>

      <%= render 'users/fields', f: f %>

      <%= f.submit "Sign Up for 1337Pic", class: "btn btn-large btn-primary" %>

    <% end %>
<br><br>
</div>

<div class="span4 hero-unit">
<h3>Already a member? Great! Welcome back.</h3>
<br>
    <%= form_for(:session, url: sessions_path) do |f| %>
      
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

</div>
<div class="span4 hero-unit">
<h2><%= link_to "What is 1337Pic?", what_path %></h2>
</div>
</div>
<% end %>
