<% if signed_in? %>

  <h1>Dashboard</h1>
  <h3>1337Pic is currently in beta.</h3>

<ol class="microposts">
  <li></li>
</ol>

  <div class="row">
    <div class="span5 hero-unit">
<h2>Events invited to: <%= current_user.events_attended.count %></h2>
    <ol class="microposts">
      <li>
        <%= render current_user.events_attended %><br>
      </li>
    </ol>
</div>

    <div class="span5 hero-unit">

    <h2>Events you hosted: <%= current_user.events_hosted.count %></h2>
    <ol class="microposts">
      <li>
        <% if current_user.events_hosted.count == 0 %>
	  <h4>You have not hosted any events. <a href="<%= new_event_path %>">Click here to host your first event!</a><h4>
	<% else %>
	  <%= render current_user.events_hosted %>
	<% end %>
      </li>
    </ol>

    </div>  
  </div>

<% else %>


<h1>Welcome to 1337Pic</h1>

<h2>The free and easy way to create and share entire photo albums with your friends.</h2>

<br>
<div class="row">
<div class="span5 hero-unit">
  <h3>New to 1337Pic?
  <br>Take a minute to sign up.</h3>
  <br>
    <%= form_for(@user) do |f| %>

      <%= render 'users/fields', f: f %>

      <%= f.submit "Sign Up for 1337Pic", class: "btn btn-large btn-primary" %>

    <% end %>

</div>

<div class="span5 hero-unit">
  <h3>Already a member?
  <br>Welcome back.</h3>
  <br>
    <%= form_for(:session, url: sessions_path) do |f| %>
      
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

</div>
<div class="span5 hero-unit">
<h2><%= link_to "1337Pic? What's 1337Pic?", what_path %></h2>
</div>
</div>
<% end %>
