<% if signed_in? %>
  <div class="row">
    <div class="hero-unit">
      <h2>Events you have been invited to:</h2><br />
      <ul>
        <%= render current_user.events_attended %>
      </ul>
      <br />
      <h2>Events you have hosted:</h2><br />
      <ul>
        <%= render current_user.events_hosted %>
      </ul>
    </div>  
  </div>
<% else %>

<div class="hero-unit">
<h1>Welcome to PhotoChat</h1>

<h3>The easiest way to create and share entire photo albums with your friends.</h3>

<h2>PhotoChat is free! So take a minute to sign up, host an event, and invite your friends!</h2>
<br>
<div class="row">
  <div class="span6">
    <%= form_for(@user) do |f| %>

      <%= render 'users/fields', f: f %>

      <%= f.submit "Sign Up", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
</div>
<% end %>
