<%= provide(:title, @event.title ) %>

<div class="row">

<% if current_user.reverse_invitations.find_by_event_id(params[:id]) || host?(@event) %>

<div class="span10 offset1">

<h1><%= @event.title %></h1>
<h2><%= @event.description %></h2>
<h3>Hosted by <%= link_to User.find_by_id(@event.host_id).name, User.find_by_id(@event.host_id) %> <%= time_ago_in_words(@event.created_at) %> ago | <%= pluralize(@event.pictures.count, "Picture")%> | <%= pluralize(@event.uploaders.count, "Attendee") %></h3>

<a href="<%= event_path(@event) %>"><i class="icon-arrow-left icon-black"></i>Back to Event</a>
<br>

<!--<%= will_paginate :page_links => false %>-->

<div class="hero-unit">

<% @event.pictures.each do |picture| %>
  <%= image_tag picture.image %><br>
  <br>Uploaded by <%= User.find_by_id(picture.user_id).name %> <%= time_ago_in_words(@event.created_at) %> ago
  <% if current_user.id == picture.user_id %>
   | <%= link_to "Delete", event_picture_path(@event, picture), method: :delete, data: { confirm: "Are you sure you want to permanently delete this picture?" }, title: @event.title %>
   <% end %>
<% end %>
</div>

<% else %>

Sorry <%= current_user.name %>, you need to be invited to this event to view it.

<% end %>
</div>
</div>
